### Importación de datos

In [158]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

np.set_printoptions(legacy='1.25')
tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

#1. Análisis de facturación

In [159]:
df = pd.read_csv(url)
df2=pd.read_csv(url2)
df3=pd.read_csv(url3)
df4=pd.read_csv(url4)

columna_a_sumar = 'Precio'
columna_costo = 'Costo de envío'

suma1 = df[columna_a_sumar].sum()
suma2 = df2[columna_a_sumar].sum()
suma3 = df3[columna_a_sumar].sum()
suma4 = df4[columna_a_sumar].sum()

costo1 = df[columna_costo].sum()
costo2 = df2[columna_costo].sum()
costo3 = df3[columna_costo].sum()
costo4 = df4[columna_costo].sum()

ganancia1 = int(float(suma1)) - int(float(costo1))
ganancia2 = int(float(suma2)) - int(float(costo2))
ganancia3 = int(float(suma3)) - int(float(costo3))
ganancia4 = int(float(suma4)) - int(float(costo4))

print("Primera tienda 'Precio':", suma1, 'Costo total envío:', costo1, 'Ganancia total:', "{:,}".format(ganancia1))
print("Segunda tienda 'Precio':", suma2, 'Costo total envío:', costo2, 'Ganancia total:', "{:,}".format(ganancia2))
print("Tercera tienda 'Precio':", suma3, 'Costo total envío:', costo3, 'Ganancia total:', "{:,}".format(ganancia3))
print("Cuarta tienda 'Precio':", suma4, 'Costo total envío:', costo4, 'Ganancia total:', "{:,}".format(ganancia4))

Primera tienda 'Precio': 1150880400.0 Costo total envío: 61377900.0 Ganancia total: 1,089,502,500
Segunda tienda 'Precio': 1116343500.0 Costo total envío: 59485100.0 Ganancia total: 1,056,858,400
Tercera tienda 'Precio': 1098019600.0 Costo total envío: 58516600.0 Ganancia total: 1,039,503,000
Cuarta tienda 'Precio': 1038375700.0 Costo total envío: 55317400.0 Ganancia total: 983,058,300

In [160]:
df.set_index('Categoría del Producto', inplace=True)

In [161]:
listacategorias=tienda['Categoría del Producto'].drop_duplicates().tolist()
listacategorias

['Electrónicos',
 'Muebles',
 'Juguetes',
 'Electrodomésticos',
 'Artículos para el hogar',
 'Deportes y diversión',
 'Libros',
 'Instrumentos musicales']

# 2. Ventas por categoría

In [162]:
print('Los valores de la primera tienda:')

ass0=df.loc['Electrónicos']
precio_electronico='Precio'
ventaelectronico=ass0[precio_electronico].sum()
costo_electronico='Costo de envío'
costototal_electronico=ass0[costo_electronico].sum()
total_electronico=ventaelectronico-costototal_electronico
print("El total de venta de Electrónicos es:", "{:,}".format(total_electronico))

ass=df.loc['Muebles']
precio_muebles='Precio'
ventamuebles=ass[precio_muebles].sum()
costo_muebles='Costo de envío'
costototal_muebles=ass[costo_muebles].sum()
total_muebles=ventamuebles-costototal_muebles
print("El total de venta de Muebles es:", "{:,}".format(total_muebles))

ass1=df.loc['Juguetes']
precio_juguetes='Precio'
ventajuguetes=ass1[precio_juguetes].sum()
costo_juguetes='Costo de envío'
costototal_juguetes=ass1[costo_juguetes].sum()
total_juguetes=ventajuguetes-costototal_juguetes
print("El total de venta de Juguetes es:", "{:,}".format(total_juguetes))

ass2=df.loc['Electrodomésticos']
precio_electrodomesticos='Precio'
ventaelectrodomesticos=ass2[precio_electrodomesticos].sum()
costo_electrodomesticos='Costo de envío'
costototal_electrodomesticos=ass2[costo_electrodomesticos].sum()
total_electrodomesticos=ventaelectrodomesticos-costototal_electrodomesticos
print("El total de venta de Electrodomésticos es:", "{:,}".format(total_electrodomesticos))

ass3=df.loc['Artículos para el hogar']
precio_hogar='Precio'
ventahogar=ass3[precio_hogar].sum()
costo_hogar='Costo de envío'
costototal_hogar=ass3[costo_hogar].sum()
total_hogar=ventahogar-costototal_hogar
print("El total de venta de Artículos de hogar es:", "{:,}".format(total_hogar))

ass4=df.loc['Deportes y diversión']
precio_deporte='Precio'
ventadeporte=ass4[precio_deporte].sum()
costo_deporte='Costo de envío'
costototal_deporte=ass4[costo_deporte].sum()
total_deporte=ventadeporte-costototal_deporte
print("El total de venta de Deportes y diversión es:", "{:,}".format(total_deporte))

ass5=df.loc['Libros']
precio_libro='Precio'
ventalibro=ass5[precio_libro].sum()
costo_libro='Costo de envío'
costototal_libro=ass5[costo_libro].sum()
total_libro=ventalibro-costototal_libro
print("El total de venta de Libros es:", "{:,}".format(total_libro))

ass6=df.loc['Instrumentos musicales']
precio_music='Precio'
ventamusic=ass6[precio_music].sum()
costo_music='Costo de envío'
costototal_music=ass6[costo_music].sum()
total_music=ventamusic-costototal_music
print("El total de venta de Instrumentos musicales es:", "{:,}".format(total_music))
total_primera = np.sum(total_electronico+total_muebles+total_juguetes+total_electrodomesticos+total_hogar+total_deporte+total_libro+total_music)
print("El total de la primera tienda es: ", "{:,}".format(total_primera))

Los valores de la primera tienda:
El total de venta de Electrónicos es: 406,529,800.0
El total de venta de Muebles es: 177,638,800.0
El total de venta de Juguetes es: 17,016,200.0
El total de venta de Electrodomésticos es: 344,361,200.0
El total de venta de Artículos de hogar es: 12,054,600.0
El total de venta de Deportes y diversión es: 37,168,900.0
El total de venta de Libros es: 8,317,900.0
El total de venta de Instrumentos musicales es: 86,415,100.0
El total de la primera tienda es:  1,089,502,500.0

In [163]:
df2.set_index('Categoría del Producto', inplace=True)
listacategorias2=tienda2['Categoría del Producto'].drop_duplicates().tolist()
print('Los valores de la segunda tienda:')

ass02=df2.loc['Electrónicos']
precio_electronico02='Precio'
ventaelectronico02=ass02[precio_electronico02].sum()
costo_electronico02='Costo de envío'
costototal_electronico02=ass02[costo_electronico02].sum()
total_electronico02=ventaelectronico02-costototal_electronico02
print("El total de venta de Electrónicos es:", "{:,}".format(total_electronico02))

ass03=df2.loc['Muebles']
precio_muebles03='Precio'
ventamuebles03=ass03[precio_muebles03].sum()
costo_muebles03='Costo de envío'
costototal_muebles03=ass03[costo_muebles03].sum()
total_muebles03=ventamuebles03-costototal_muebles03
print("El total de venta de Muebles es:", "{:,}".format(total_muebles03))

ass04=df2.loc['Juguetes']
precio_juguetes04='Precio'
ventajuguetes04=ass04[precio_juguetes04].sum()
costo_juguetes04='Costo de envío'
costototal_juguetes04=ass04[costo_juguetes04].sum()
total_juguetes04=ventajuguetes04-costototal_juguetes04
print("El total de venta de Juguetes es:", "{:,}".format(total_juguetes04))

ass05=df2.loc['Electrodomésticos']
precio_electrodomesticos05='Precio'
ventaelectrodomesticos05=ass05[precio_electrodomesticos05].sum()
costo_electrodomesticos05='Costo de envío'
costototal_electrodomesticos05=ass05[costo_electrodomesticos05].sum()
total_electrodomesticos05=ventaelectrodomesticos05-costototal_electrodomesticos05
print("El total de venta de Electrodomésticos es:", "{:,}".format(total_electrodomesticos05))

ass06=df2.loc['Artículos para el hogar']
precio_hogar06='Precio'
ventahogar06=ass06[precio_hogar06].sum()
costo_hogar06='Costo de envío'
costototal_hogar06=ass06[costo_hogar06].sum()
total_hogar06=ventahogar06-costototal_hogar06
print("El total de venta de Artículos de hogar es:", "{:,}".format(total_hogar06))

ass07=df2.loc['Deportes y diversión']
precio_deporte07='Precio'
ventadeporte07=ass07[precio_deporte07].sum()
costo_deporte07='Costo de envío'
costototal_deporte07=ass07[costo_deporte07].sum()
total_deporte07=ventadeporte07-costototal_deporte07
print("El total de venta de Deportes y diversión es:", "{:,}".format(total_deporte07))

ass08=df2.loc['Libros']
precio_libro08='Precio'
ventalibro08=ass08[precio_libro08].sum()
costo_libro08='Costo de envío'
costototal_libro08=ass08[costo_libro08].sum()
total_libro08=ventalibro08-costototal_libro08
print("El total de venta de Libros es:", "{:,}".format(total_libro08))

ass09=df2.loc['Instrumentos musicales']
precio_music09='Precio'
ventamusic09=ass09[precio_music09].sum()
costo_music09='Costo de envío'
costototal_music09=ass09[costo_music09].sum()
total_music09=ventamusic09-costototal_music09
print("El total de venta de Instrumentos musicales es:", "{:,}".format(total_music09))
total_primera2 = np.sum(total_electronico02+total_muebles03+total_juguetes04+total_electrodomesticos05+total_hogar06+total_deporte07+total_libro08+total_music09)
print("El total de la segunda tienda es: ", "{:,}".format(total_primera2))

Los valores de la segunda tienda:
El total de venta de Electrónicos es: 389,016,900.0
El total de venta de Muebles es: 166,990,200.0
El total de venta de Juguetes es: 15,057,800.0
El total de venta de Electrodomésticos es: 330,012,200.0
El total de venta de Artículos de hogar es: 13,946,100.0
El total de venta de Deportes y diversión es: 32,867,200.0
El total de venta de Libros es: 9,535,400.0
El total de venta de Instrumentos musicales es: 99,432,600.0
El total de la segunda tienda es:  1,056,858,400.0

# 3. Calificación promedio de la tienda

In [164]:
df3.set_index('Categoría del Producto', inplace=True)
listacategorias3=tienda3['Categoría del Producto'].drop_duplicates().tolist()
print('Los valores de la tercera tienda:')

ass10=df3.loc['Electrónicos']
precio_electronico10='Precio'
ventaelectronico10=ass10[precio_electronico10].sum()
costo_electronico10='Costo de envío'
costototal_electronico10=ass10[costo_electronico10].sum()
total_electronico10=ventaelectronico10-costototal_electronico10
print("El total de venta de Electrónicos es:", "{:,}".format(total_electronico10))

ass11=df3.loc['Muebles']
precio_muebles11='Precio'
ventamuebles11=ass11[precio_muebles11].sum()
costo_muebles11='Costo de envío'
costototal_muebles11=ass11[costo_muebles11].sum()
total_muebles11=ventamuebles11-costototal_muebles11
print("El total de venta de Muebles es:", "{:,}".format(total_muebles11))

ass12=df3.loc['Juguetes']
precio_juguetes12='Precio'
ventajuguetes12=ass12[precio_juguetes12].sum()
costo_juguetes12='Costo de envío'
costototal_juguetes12=ass12[costo_juguetes12].sum()
total_juguetes12=ventajuguetes12-costototal_juguetes12
print("El total de venta de Juguetes es:", "{:,}".format(total_juguetes12))

ass13=df3.loc['Electrodomésticos']
precio_electrodomesticos13='Precio'
ventaelectrodomesticos13=ass13[precio_electrodomesticos13].sum()
costo_electrodomesticos13='Costo de envío'
costototal_electrodomesticos13=ass13[costo_electrodomesticos13].sum()
total_electrodomesticos13=ventaelectrodomesticos13-costototal_electrodomesticos13
print("El total de venta de Electrodomésticos es:", "{:,}".format(total_electrodomesticos13))

ass14=df3.loc['Artículos para el hogar']
precio_hogar14='Precio'
ventahogar14=ass14[precio_hogar14].sum()
costo_hogar14='Costo de envío'
costototal_hogar14=ass14[costo_hogar14].sum()
total_hogar14=ventahogar14-costototal_hogar14
print("El total de venta de Artículos de hogar es:", "{:,}".format(total_hogar14))

ass15=df3.loc['Deportes y diversión']
precio_deporte15='Precio'
ventadeporte15=ass15[precio_deporte15].sum()
costo_deporte15='Costo de envío'
costototal_deporte15=ass15[costo_deporte15].sum()
total_deporte15=ventadeporte15-costototal_deporte15
print("El total de venta de Deportes y diversión es:", "{:,}".format(total_deporte15))

ass16=df3.loc['Libros']
precio_libro16='Precio'
ventalibro16=ass16[precio_libro16].sum()
costo_libro16='Costo de envío'
costototal_libro16=ass16[costo_libro16].sum()
total_libro16=ventalibro16-costototal_libro16
print("El total de venta de Libros es:", "{:,}".format(total_libro16))

ass17=df3.loc['Instrumentos musicales']
precio_music17='Precio'
ventamusic17=ass17[precio_music17].sum()
costo_music17='Costo de envío'
costototal_music17=ass17[costo_music17].sum()
total_music17=ventamusic17-costototal_music17
print("El total de venta de Instrumentos musicales es:", "{:,}".format(total_music17))
total_primera3 = np.sum(total_electronico10+total_muebles11+total_juguetes12+total_electrodomesticos13+total_hogar14+total_deporte15+total_libro16+total_music17)
print("El total de la tercera tienda es: ", "{:,}".format(total_primera3))

Los valores de la tercera tienda:
El total de venta de Electrónicos es: 388,919,900.0
El total de venta de Muebles es: 190,288,000.0
El total de venta de Juguetes es: 18,359,400.0
El total de venta de Electrodomésticos es: 311,743,700.0
El total de venta de Artículos de hogar es: 14,247,600.0
El total de venta de Deportes y diversión es: 33,670,000.0
El total de venta de Libros es: 9,002,300.0
El total de venta de Instrumentos musicales es: 73,272,100.0
El total de la tercera tienda es:  1,039,503,000.0

In [165]:
df4.set_index('Categoría del Producto', inplace=True)
listacategorias4=tienda4['Categoría del Producto'].drop_duplicates().tolist()
print('Los valores de la cuarta tienda:')

ass18=df4.loc['Electrónicos']
precio_electronico18='Precio'
ventaelectronico18=ass18[precio_electronico18].sum()
costo_electronico18='Costo de envío'
costototal_electronico18=ass18[costo_electronico18].sum()
total_electronico18=ventaelectronico18-costototal_electronico18
print("El total de venta de Electrónicos es:", "{:,}".format(total_electronico18))

ass19=df4.loc['Muebles']
precio_muebles19='Precio'
ventamuebles19=ass19[precio_muebles19].sum()
costo_muebles19='Costo de envío'
costototal_muebles19=ass19[costo_muebles19].sum()
total_muebles19=ventamuebles19-costototal_muebles19
print("El total de venta de Muebles es:", "{:,}".format(total_muebles19))

ass20=df4.loc['Juguetes']
precio_juguetes20='Precio'
ventajuguetes20=ass20[precio_juguetes20].sum()
costo_juguetes20='Costo de envío'
costototal_juguetes20=ass20[costo_juguetes20].sum()
total_juguetes20=ventajuguetes20-costototal_juguetes20
print("El total de venta de Juguetes es:", "{:,}".format(total_juguetes20))

ass21=df4.loc['Electrodomésticos']
precio_electrodomesticos21='Precio'
ventaelectrodomesticos21=ass21[precio_electrodomesticos21].sum()
costo_electrodomesticos21='Costo de envío'
costototal_electrodomesticos21=ass21[costo_electrodomesticos21].sum()
total_electrodomesticos21=ventaelectrodomesticos21-costototal_electrodomesticos21
print("El total de venta de Electrodomésticos es:", "{:,}".format(total_electrodomesticos21))

ass22=df4.loc['Artículos para el hogar']
precio_hogar22='Precio'
ventahogar22=ass22[precio_hogar22].sum()
costo_hogar22='Costo de envío'
costototal_hogar22=ass22[costo_hogar22].sum()
total_hogar22=ventahogar22-costototal_hogar22
print("El total de venta de Artículos de hogar es:", "{:,}".format(total_hogar22))

ass23=df4.loc['Deportes y diversión']
precio_deporte23='Precio'
ventadeporte23=ass23[precio_deporte23].sum()
costo_deporte23='Costo de envío'
costototal_deporte23=ass23[costo_deporte23].sum()
total_deporte23=ventadeporte23-costototal_deporte23
print("El total de venta de Deportes y diversión es:", "{:,}".format(total_deporte23))

ass24=df4.loc['Libros']
precio_libro24='Precio'
ventalibro24=ass24[precio_libro24].sum()
costo_libro24='Costo de envío'
costototal_libro24=ass24[costo_libro24].sum()
total_libro24=ventalibro24-costototal_libro24
print("El total de venta de Libros es:", "{:,}".format(total_libro24))

ass25=df4.loc['Instrumentos musicales']
precio_music25='Precio'
ventamusic25=ass25[precio_music25].sum()
costo_music25='Costo de envío'
costototal_music25=ass25[costo_music25].sum()
total_music25=ventamusic25-costototal_music25
print("El total de venta de Instrumentos musicales es:", "{:,}".format(total_music25))
total_primera4 = np.sum(total_electronico18+total_muebles19+total_juguetes20+total_electrodomesticos21+total_hogar22+total_deporte23+total_libro24+total_music25)
print("El total de la cuarta tienda es: ", "{:,}".format(total_primera4))

Los valores de la cuarta tienda:
El total de venta de Electrónicos es: 387,647,800.0
El total de venta de Muebles es: 182,293,600.0
El total de venta de Juguetes es: 19,149,700.0
El total de venta de Electrodomésticos es: 268,237,700.0
El total de venta de Artículos de hogar es: 14,220,400.0
El total de venta de Deportes y diversión es: 31,580,000.0
El total de venta de Libros es: 8,780,600.0
El total de venta de Instrumentos musicales es: 71,148,500.0
El total de la cuarta tienda es:  983,058,300.0

# 4. Productos más y menos vendidos

In [166]:
tiendamax= tienda["Producto"].value_counts()
t1m= tiendamax.head(1)
print("El producto más vendido de la primera tienda es: ", (t1m))
tiendamin= tienda["Producto"].value_counts()
t1min= tiendamin.tail(1)
print("El producto menos vendido de la primera tienda es: ", (t1min))

El producto más vendido de la primera tienda es:  Producto
Microondas    60
Name: count, dtype: int64
El producto menos vendido de la primera tienda es:  Producto
Celular ABXY    33
Name: count, dtype: int64

In [167]:
tiendamax2= tienda2["Producto"].value_counts()
t2m= tiendamax2.head(1)
print("El producto más vendido de la segunda tienda es: ", (t2m))
tiendamin2= tienda2["Producto"].value_counts()
t2min= tiendamin2.tail(1)
print("El producto menos vendido de la segunda tienda es: ", (t2min))

El producto más vendido de la segunda tienda es:  Producto
Iniciando en programación    65
Name: count, dtype: int64
El producto menos vendido de la segunda tienda es:  Producto
Juego de mesa    32
Name: count, dtype: int64

In [168]:
tiendamax3= tienda3["Producto"].value_counts()
t3m= tiendamax3.head(1)
print("El producto más vendido de la tercera tienda es: ", (t3m))
tiendamin3= tienda3["Producto"].value_counts()
t3min= tiendamin3.tail(1)
print("El producto menos vendido de la tercera tienda es: ", (t3min))

El producto más vendido de la tercera tienda es:  Producto
Kit de bancas    57
Name: count, dtype: int64
El producto menos vendido de la tercera tienda es:  Producto
Bloques de construcción    35
Name: count, dtype: int64

In [169]:
tiendamax4= tienda4["Producto"].value_counts()
t4m= tiendamax4.head(1)
print("El producto más vendido de la cuarta tienda es: ", (t4m))
tiendamin4= tienda4["Producto"].value_counts()
t4min= tiendamin4.tail(1)
print("El producto menos vendido de la cuarta tienda es: ", (t4min))

El producto más vendido de la cuarta tienda es:  Producto
Cama box    62
Name: count, dtype: int64
El producto menos vendido de la cuarta tienda es:  Producto
Guitarra eléctrica    33
Name: count, dtype: int64

# 5. Envío promedio por tienda

In [170]:
mean1 = df[columna_costo].mean()
print(f"El envío promedio de la primera tienda es: {mean1:.2f}")
mean2 = df2[columna_costo].mean()
print(f"El envío promedio de la segunda tienda es: {mean2:.2f}")
mean3 = df3[columna_costo].mean()
print(f"El envío promedio de la tercera tienda es: {mean3:.2f}")
mean4 = df4[columna_costo].mean()
print(f"El envío promedio de la cuarta tienda es: {mean4:.2f}")

El envío promedio de la primera tienda es: 26018.61
El envío promedio de la segunda tienda es: 25216.24
El envío promedio de la tercera tienda es: 24805.68
El envío promedio de la cuarta tienda es: 23459.46

In [172]:
print('La primera tienda resultó ser la más rentable, en cuanto a ganancia versus costos de envío; y el producto más vendido son Microondas \nSe recomienda la inversión en la primera tienda')

La primera tienda resultó ser la más rentable, en cuanto a ganancia versus costos de envío; y el producto más vendido son Microondas
Se recomienda la inversión en la primera tienda